<p-menubar class="navbar" [model]="items">
  <!-- Start facet: Always visible on the left -->
  <ng-template pTemplate="start">
    <div class="navbar-left">
      <a routerLink="/" class="home-link">My Tournaments</a>
    </div>
  </ng-template>

  <!-- End facet: Contains the Create and Sign In buttons -->
  <ng-template pTemplate="end">
    <div class="navbar-right">
      <button pButton
              type="button"
              label="Create Tournament"
              icon="pi pi-plus"
              class="create-btn"
              (click)="goToCreateTournament($event)">
      </button>
      <button pButton
              type="button"
              label="Sign In"
              icon="pi pi-user"
              class="signin-btn"
              (click)="goToSignIn($event)">
      </button>
    </div>
  </ng-template>
</p-menubar>
