.p-card .p-card-header {
  display: flex;
  justify-content: center;
  width: 100%; /* Ensures the header container uses the full width */
  padding: 0; /* Adjust or remove padding as necessary */
}

.tournament-header {
  display: flex;
  align-items: center;
  justify-content: center; /* This will center the content */
  gap: 20px;
  width: 100%; /* Make sure the header div uses the full width available */
  margin: 0 auto; /* This centers the div if it doesn't naturally fill the width */
  margin-top: 50px;
}

.tournament-logo {
  width: 100px;
  height: 100px;
}


.header-content h1, .header-content h2 {
  margin: 25px;
}

/* tournament-details.component.css */

.participants-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

  .participants-list li {
    display: flex;
    align-items: center;
    background-color: var(--surface-a);
    color: var(--text-color);
    padding: 10px;
    border-radius: 4px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.team-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%; /* Optional: to make the logo circular */
}


.button-group {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
