<div class="info-card" *ngIf="tournament">
  <div class="card-header">
    <i class="pi pi-info-circle"></i>
    <h3>Tournament Details</h3>
  </div>
  <div class="card-content">
    <p *ngIf="tournament?.description">{{ tournament.description }}</p>
    <p *ngIf="!tournament?.description" class="muted-text">No description provided</p>
    <div class="info-grid">
      <div class="info-item">
        <span class="label">Format</span>
        <span class="value">{{ getFormatLabel(tournament.format) }}</span>
      </div>
      <div class="info-item">
        <span class="label">Max Teams</span>
        <span class="value">{{ tournament.maxTeams }}</span>
      </div>
      <div class="info-item" *ngIf="tournament?.format === Format.GroupsAndBracket">
        <span class="label">Teams per Group</span>
        <span class="value">{{ getTeamsPerGroup() || '-' }}</span>
      </div>
      <div class="info-item" *ngIf="tournament?.format === Format.BracketOnly || tournament?.format === Format.GroupsAndBracket">
        <span class="label">Teams per Bracket</span>
        <span class="value">{{ getTeamsPerBracket() || '-' }}</span>
      </div>
    </div>
  </div>
</div>
