<table class="group-matches">
  <tbody>
    <tr *ngFor="let match of matches">
      <td [ngClass]="{'winner': match.winnerId === match.teamAId, 'loser': match.loserId === match.teamAId, 'disabled': match.winnerId || match.loserId}"
          (click)="!match.winnerId && !match.loserId ? updateMatchScore(match.id, match.teamAId, match.result.teamAWins + 1, match.result.teamBWins) : null"
          style="cursor: pointer;">
        {{ getTeamName(match.teamAId) }}
      </td>
      <td>
        {{ match.result.teamAWins }} - {{ match.result.teamBWins }}
      </td>
      <td [ngClass]="{'winner': match.winnerId === match.teamBId, 'loser': match.loserId === match.teamBId, 'disabled': match.winnerId || match.loserId}"
          (click)="!match.winnerId && !match.loserId ? updateMatchScore(match.id, match.teamBId, match.result.teamAWins, match.result.teamBWins + 1) : null"
          style="cursor: pointer;">
        {{ getTeamName(match.teamBId) }}
      </td>
    </tr>
  </tbody>
</table>
