<table class="group-matches">
  <thead>
    <tr>
      <th>Team A</th>
      <th>Score</th>
      <th>Team B</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let match of matches; trackBy: trackByMatchId">
      <!-- Team A -->
      <td [ngClass]="{
            'winner': match.winnerId === match.teamAId,
            'loser': match.loserId === match.teamAId,
            'clickable-team': !match.winnerId && !isUpdating[match.id] && !isGroupFinished
          }"
          (click)="!match.winnerId && !isUpdating[match.id] && !isGroupFinished && updateMatchScore(match.id, match.teamAId)">
        {{ getTeamName(match.teamAId) }}
      </td>

      <!-- Score -->
      <td [class.score-updating]="isUpdating[match.id]">
        {{ match.teamAWins }} - {{ match.teamBWins }}
      </td>

      <!-- Team B -->
      <td [ngClass]="{
            'winner': match.winnerId === match.teamBId,
            'loser': match.loserId === match.teamBId,
            'clickable-team': !match.winnerId && !isUpdating[match.id] && !isGroupFinished
          }"
          (click)="!match.winnerId && !isUpdating[match.id] && !isGroupFinished && updateMatchScore(match.id, match.teamBId)">
        {{ getTeamName(match.teamBId) }}
      </td>
    </tr>
  </tbody>
</table>
