.group-matches {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
}

  .group-matches th, .group-matches td {
    padding: 8px;
    text-align: center;
  }

  .group-matches th {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
  }

.loading-spinner {
  text-align: center;
  margin-top: 20px;
}
