.group-matches {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
}

  .group-matches th,
  .group-matches td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd; /* Adding borders for better definition */
  }

  .group-matches th {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
  }

.loading-spinner {
  text-align: center;
  margin-top: 20px;
}

.winner {
  background-color: green;
  color: white;
}

.loser {
  background-color: red;
  color: white;
}

/* Add hover effect for better UX */
.group-matches td:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Light grey background on hover */
  cursor: pointer; /* Indicate clickable rows */
}

.disabled {
  cursor: not-allowed; /* Change the cursor to indicate it's not clickable */
  pointer-events: none; /* Prevents click events on this element */
}
