<!-- tournament-list.component.html -->
<div class="tournament-layout">
  <!-- Upcoming Tournaments -->
  <div class="tournament-category">
    <h2>Upcoming</h2>
    <div class="tournament-container">
      <ng-container *ngFor="let tournament of ((tournaments$ | async) ?? [] | filterByStatus: 1)">
        <p-card [header]="tournament.name" [subheader]="'500$'" [style]="{ width: '360px' }">
          <ng-template pTemplate="header">
            <img alt="Card" class="tournament-logo" src="../../../../assets/ph_logo.png">
          </ng-template>
          <p>{{ tournament.description }}</p>
          <p>Teams: {{ tournament.teams.length }} /{{tournament.maxTeams}}</p>
          <!--<p>
            Date: {{ tournament.startDate | date:'MMMM dd' }}
            <span *ngIf="tournament.startDate !== tournament.endDate"> - {{ tournament.endDate | date:'MMMM dd' }}</span>
          </p>-->
          <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
              <p-button label="Details" (onClick)="goToDetails(tournament.id)" styleClass="w-full" />
            </div>
          </ng-template>
        </p-card>
      </ng-container>
    </div>
  </div>

  <div class="tournament-category">
    <h2>Ongoing</h2>
    <div class="tournament-container">
      <ng-container *ngFor="let tournament of ((tournaments$ | async) ?? [] | filterByStatus: 2)">
        <p-card [header]="tournament.name" [subheader]="'500$'" [style]="{ width: '360px' }">
          <ng-template pTemplate="header">
            <img alt="Card" class="tournament-logo" src="../../../../assets/ph_logo.png">
          </ng-template>
          <p>{{ tournament.description }}</p>
          <p>Teams: {{ tournament.teams.length }} /{{tournament.maxTeams}}</p>
          <!--<p>
            Date: {{ tournament.startDate | date:'MMMM dd' }}
            <span *ngIf="tournament.startDate !== tournament.endDate"> - {{ tournament.endDate | date:'MMMM dd' }}</span>
          </p>-->
          <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
              <p-button label="Details" (onClick)="goToDetails(tournament.id)" styleClass="w-full" />
            </div>
          </ng-template>
        </p-card>
      </ng-container>
    </div>
  </div>

  <div class="tournament-category">
    <h2>Finished</h2>
    <div class="tournament-container">
      <ng-container *ngFor="let tournament of ((tournaments$ | async) ?? [] | filterByStatus: 3)">
        <p-card [header]="tournament.name" [subheader]="'500$'" [style]="{ width: '360px' }">
          <ng-template pTemplate="header">
            <img alt="Card" class="tournament-logo" src="../../../../assets/ph_logo.png">
          </ng-template>
          <p>{{ tournament.description }}</p>
          <p>Teams: {{ tournament.teams.length }} /{{tournament.maxTeams}}</p>
          <!--<p>
            Date: {{ tournament.startDate | date:'MMMM dd' }}
            <span *ngIf="tournament.startDate !== tournament.endDate"> - {{ tournament.endDate | date:'MMMM dd' }}</span>
          </p>-->
          <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
              <p-button label="Details" (onClick)="goToDetails(tournament.id)" styleClass="w-full" />
            </div>
          </ng-template>
        </p-card>
      </ng-container>
    </div>
  </div>
